/* ================================= 
  Page Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-size: 1em;
	font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #e8e9e9;
	padding-left: 5%;
	padding-right: 5%;
}
.container {
	padding: 10px;
	background: #fff;
  border-radius: 5px;
	margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}
.item {
	color: #fff;
	padding: 15px;
	margin: 5px;	
	background: #BD1D2D;
	border-radius: 3px;
}

.button {
  background-color: #BD1D2D; /* Orange */
  border: none;
  color: white;
	padding: 15px 32px;
	margin: 15px;
	text-align: center;
  text-decoration: none;
  font-size: 16px;
	border-radius: 10px;
	display: inline-block;
	width:80%;
	max-width:300px;
	}

	.button:hover {
		background-color: #fff; /* Orange */
		color:  #BD1D2D;
		box-shadow: 0 0 0 5px #BD1D2D,
		inset 0 0 0 1px #fff;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-weight:700;
		border-radius: 10px;
		width:80%;
		}
	

		body{ 
			opacity:0;
			transition: opacity 2s;
			-webkit-transition: opacity 2s; /* Safari */
	}


.playground{
	min-height:150px;
}