/* ================================= 
  Base Styles
==================================== */

body {
	display: flex;
	flex-direction: column;
    min-height: 100vh;
    margin:0;
    width:100%;
}




/* ---- Layout Containers ---- */

.main-container {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;

}

.inv_column{
    display: flex;
    flex:1;
    flex-wrap: wrap;
    min-height:60vh;
    max-height:60vh;
}

.order_column{
    display: flex;
    flex:1;
    flex-wrap: wrap;
    min-height:60vh;
    max-height:60vh;

}

.pay_section{
    flex 3;
}

.total_section{
    display: flex;
    flex:1;
    min-height:20vh;
    max-height:20vh;

}

.product {
	display: flex;
  flex-direction: column;
	flex: 0 11vh;
	border-radius: 10%;
	background-color: white;
	margin: .5vw;
	max-height: 18vh;
}


.product > .title, .product > .price{
	text-align: center;
	font-size: 2vh;
	width:100%;
	line-height: .8vh;
}


.product > img, .product > .image_line > img  {
	max-height: 100%;
	margin: 0 auto;
	justify-self: center;
} 

.image_line{
	height: 8vh;
	max-height: 8vh;
	text-align: center;
}

.main-header {
    max-height:10vh;
    line-height:1;
    width:100%;
   }

   .main-footer {
       background: #d9e4ea;
       text-align: center;    
   }


	/*====================================
		Icon Bar
	==================================== */

	
    .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
      }
      
      .icon-bar a {
        width: 100%;
        float: left;
        padding: 1vh 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 4vh;
      }
      
      .icon-bar .flex-home a {
          padding-left:1vw;
          text-align:left;
      }
      
      
      .icon-bar .flex-help a {
          padding-right:1vw;
          text-align:right;
      }
      
      .icon-bar a:hover {
        background-color: #000;
      }
      
      .active {
        background-color: #4CAF50;
      }
      
      
/*====================================
		Flex Menu
	==================================== */

      #flex-menu {
        display: flex;
        flex-direction: row;
      }
      
      #flex-menu > .flex-home {
        flex: 25%;
      }
      
      #flex-menu > .flex-spacer {
        flex: 20%;
      }
      
      
      #flex-menu > .flex-order {
        flex: 30%;
        text-align:right;

      }
      

      #flex-menu > .flex-order button{
        font-size:3vh;
        padding-top:.5vh;
        padding-bottom:.5vh;
        margin-top:.5vh;
        margin-bottom:.5vh;
      }
      
      

      #flex-menu > .flex-help {
        flex: 25%;
      }



      


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	body {
		font-size:.8em;
		line-height: .8em;
	
	}

	.main-header,
	.main-nav {
		display: flex;
	}
	.flex-menu  {
		flex-direction: column;
		align-items: center;
	}


    #flex-menu > .flex-home {
        flex: 10%;
      }
      
      #flex-menu > .flex-spacer {
        flex: 80%;
      }
      
      #flex-menu > .flex-help {
        flex: 10%;
      }

      
.inv_column{
    min-height:60vh;
    max-height:60vh;
    min-width:60vw;
    max-width:60vw;
}

.order_column{
    min-height:60vh;
    max-height:60vh;
    min-width:40vw;
    max-width:40vw;
}

}

@media (min-width: 1025px) {
	body {
		font-size:1em;}
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}