

/* .product > img{
    height:5vh;
    width:5vh;
    text-align: center;

} */



	/*====================================
		Icon Bar
	==================================== */

	
    .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
      }
      
      .icon-bar a {
          width: 100%;
          float: left;
        padding: 1vh 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 4vh;
      }
      
      .icon-bar .flex-home a {
          padding-left:1vw;
          text-align:left;
      }
      
      
      .icon-bar .flex-help a {
          padding-right:1vw;
          text-align:right;
      }
      
      .icon-bar a:hover {
        background-color: #000;
      }
      
      .active {
        background-color: #4CAF50;
      }
      
      
/*====================================
		Flex Menu
	==================================== */

      #flex-menu {
        display: flex;
        flex-direction: row;
      }
      
      #flex-menu > .flex-home {
        flex: 25%;
      }
      
      #flex-menu > .flex-spacer {
        flex: 20%;
      }
      
      
      #flex-menu > .flex-order {
        flex: 30%;
        text-align:right;

      }
      

      #flex-menu > .flex-order button{
        font-size:2vh;
        padding-top:.5vh;
        padding-bottom:.5vh;
        margin-top:.5vh;
        margin-bottom:.5vh;
      }

      #flex-menu > .flex-help {
        flex: 25%;
      }

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	body {
		font-size:.8em;
		line-height: .8em;
	
	}

	.main-header,
	.main-nav {
		display: flex;
	}
	.flex-menu  {
		flex-direction: column;
		align-items: center;
	}


    #flex-menu > .flex-home {
        flex: 10%;
      }
      
      #flex-menu > .flex-spacer {
        flex: 80%;
      }
      
      #flex-menu > .flex-help {
        flex: 10%;
      }

}

@media (min-width: 1025px) {
	body {
		font-size:1em;}
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}