/* ================================= 
  Base Styles
==================================== */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.inv_column, .order_column{
	width:100vw;
}

.product, .coin, .dollar {
	display: flex;
    flex-direction: column;
	flex: 0 14vh;
	border-radius: 10%;
	background-color: #ffffff;
	margin: .5vw;
	max-height: 18vh;
}


 .title, .price{
	text-align: center;
	font-size: 2vh;
	width:100%;
	line-height: .8vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
																	supported by Chrome and Opera */
																	pointer-events: none;
}

.product > img, .product > .image_line > img  {
	max-height: 100%;
	margin: 0 auto;
	justify-self: center;
} 

.image_line{
	height: 8vh;
	max-height: 8vh;
	text-align: center;
}

#inventory_title{
	order: -6;
	flex: 1 0 100%;

}

#order_title{
	order: -4;
	flex: 1 0 100%;
}

.inventory_list_section {
	order: -5;
	flex: 0 0 100%;
	flex-wrap: wrap;
	display: flex;
	min-height:40vh;
	max-height:40vh;
	overflow-y:scroll;
	overscroll-behavior-y: contain;
	justify-content: flex-start;
	padding-right: 1vw;
	padding-left:  1vw;
	
}


.order_list_section {
	order: -3;
	flex: 1 0 100%;
	flex-wrap: wrap;
	display: flex;
	min-height:20vh;
	max-height:20vh;
	overflow-y:scroll;
	overscroll-behavior-y: contain;
	justify-content: left;
	padding-right: 1vw;
	padding-left:  1vw;
	
}

.new_order_section {
	order: -2;
	flex: 1 0 50%;
	flex-wrap: wrap;
	display: flex;
	min-height:15vh;
	max-height:15vh;
	overflow-y:scroll;
	overscroll-behavior-y: contain;
	justify-content: left;
	padding-right: 1vw;
	padding-left:  1vw;
	background-color:transparent;
	border-top:1vh lightgray solid;
}



.pay_section {
	order: 0;
	flex: 1 0 30%;
	flex-wrap: wrap;
	display: flex;
	min-height:12vh;
	max-height:12vh;
	min-width: 100vw;
	max-width: 100vw; 
	overflow-y:scroll;
	overscroll-behavior-y: contain;
	justify-content: left;
	align-items:center;
	padding-right: 1vw;
	padding-left:  1vw;
	background-color: transparent;
	border-top:1vh lightgray solid;

}

 .new_order, .pay
{
	width: 50%;
	font-size: 2vh;
	border-radius: 10%;
	height: 100%;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	
}
.total_section{
	width:65vw;
	display: flex;
  flex-wrap: wrap;
}

.section_title{
	font-family:fantasy;
	font-size:3vh;
	max-height: 3vh;
	min-height: 3vh;
	line-height:1em;
	color:lightgrey;
	background-color: slategray;
	padding-left:2vw;

}

/* .total_label{
	font-size:2.5vh;
	color: #0e0e0e;
	line-height: 1;
	padding-left:5vw;
	width:40vw;
	max-width:40vw;
}

.total_amount{
	font-size:2.5vh;
	color:#0e0e0e;
	line-height: 1;
	padding-right:2vw;
	width:25vw;
	max-width:25vw;
} */

.pay_button{
	width:30vw;
	max-height:5vh;
}

.pay{
	width:100%;
	height:5vh;
}



.dollar {
	flex: 0 48vw;
}

.coin {
	flex: 0 23vw;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	min-height: 95vh;
	background-color: rgba(245,247,251,1);
}


.inv_column{
	max-height: 45vh;
    min-height: 45vh;
}

.order_column{
	max-height: 30vh;
	min-height: 30vh;
}

.pay_section{
	max-height:20vh;
	min-height:20vh;
}

.main-footer{
	max-height:5vh;
	min-height:5vh;
}

.section_title {
    font-family: fantasy;
    font-size: 3vh;
    max-height: 5vh;
    min-height: 5vh;
    line-height: 1.5em;
    color: #707070;
    background-color: #DCE2EE;
    padding-left: 2vw;
}

.inventory_list_section {
    order: -5;
    /* flex: 0 0 100%; */
    flex-wrap: wrap;
    display: flex;
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    justify-content: flex-start;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: rgba(245,247,251,1);
}

.order_list_section {
    order: -3;
    flex: 1 0 100%;
    flex-wrap: wrap;
    display: flex;
    min-height: 25vh;
    max-height: 25vh;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    justify-content: left;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: rgba(245,247,251,1);
}

.product, .coin, .dollar {
    display: flex;
    flex-direction: column;
    /* flex: 0 30vw; */
    border-radius: 10%;
    background-color: #ffffff;
    margin: .5vh;
    max-height: 18vh;
}

#inventory_title {
    order: -6;
    flex: 1 0 100%;
}

#order_title {
    order: -4;
    flex: 1 0 100%;
}

.total_label {
    font-size: 1.4em;
    color: #0e0e0e;;
    line-height: 1;
    padding-left: 5vw;
    width: 40vw;
    max-width: 40vw;
}

.total_amount {
    font-size: 1.4em;
    color: #0e0e0e;;
    line-height: 1;
    padding-right: 2vw;
    width: 25vw;
    max-width: 25vw;
}

.banner, .main-footer {
    text-align: center;
    font-size: .8em;
    line-height: 1;
}


.disable{
	pointer-events: none;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%), blur(20%);
	background-color: #ccc;
}
/* ================================= 
  Media Queries
==================================== */




@media (orientation: landscape) {
	body {
		font-size:.8em;
		line-height: .8em;
	
	}

	.main-header,
	.main-nav {
		width:100%;
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
		background-color: blanchedalmond;
	}

	
#inventory_title, .inventory_list_section, .new_order_section  {
	border-right: 1vw lightgray solid;
	
}


#inventory_title{
	order: 0;
	flex: initial;
	/* flex: 1 0 100%; */
	min-width: 60vw;
	max-width: 60vw;	
	max-height: 8vh;
	min-height: 8vh;

}

#order_title{
	order: 0;
	flex: initial;
	/* flex: 1 0 100%; */
	min-width: 40vw;
	max-width: 40vw;
	max-height: 8vh;		
	min-height: 8vh;
}

.inventory_list_section {
	order: 0;
	flex: initial;
	flex-wrap: wrap;
	display: flex;
	min-height:55vh;
	max-height:55vh;
	min-width: 60vw;
	max-width: 60vw;
	overflow-y:scroll;
	overscroll-behavior-y: contain;
	justify-content: flex-start;
	padding-right: 1vw;
	padding-left:  1vw;
	background-color: transparent;
}

.product {
	flex: 0 11vw;
}

.order_list_section {
	order: 0;
	flex: initial;
	flex-wrap: wrap;
	display: flex;
    min-height: unset;
    max-height: 60vh;
	min-width: 40vw;
	max-width: 40vw;
	overflow-y:scroll;
	overscroll-behavior-y: contain;
	justify-content: flex-start;
	padding-right: 1vw;
	padding-left:  1vw;
	background-color: transparent;
}

.new_order_section {
	order: 0;
	flex: initial;
	flex-wrap: wrap;
	display: flex;
	min-height:15vh;
	max-height:15vh;
	min-width: 60vw;
	max-width: 60vw;
	overflow-y:scroll;
	overscroll-behavior-y: contain;
	justify-content: flex-start;
	padding-right: 1vw;
	padding-left:  1vw;
	background-color: transparent;
	border-top:1vh lightgray solid;
}

.pay_section {
	order: 0;
	flex: initial;
	flex-wrap: wrap;
	display: flex;
	min-height:10vh;
	max-height:10vh;
	overflow-y:scroll;
	overscroll-behavior-y: contain;
	justify-content: flex-start;
	align-items:center;
	padding-right: 1vw;
	padding-left:  1vw;
	background-color: transparent;
	border-top:1vh lightgray solid;
	
}

 .new_order, .pay
{
	flex: initial;
	width: 100%;
	font-size: 2.5vh;
	border-radius: 10%;
	height: 100%;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	
}

.section_title{
	font-family:fantasy;
	font-size:6vh;
	line-height:8vh;
	color:lightgrey;
	background-color: slategray;
	padding-left:2vw;
	
}


.inv_column{
	width:60vw;
}
	.order_column{
		width:40vw;
}


.icon-bar a{
	font-size: 8vh;
}

#flex-menu > .flex-order button {
	font-size: 3vh;
}

.main-header{
	max-height:13vh;
	border-bottom: #ccc solid 3vh;
}


.dollar {
	flex: 0 26vw;
}

.coin {
	flex: 0 12vw;
}


}

@media (max-width: 767px) and (orientation: landscape) {
	.image_line {
    height: 10vh;
    max-height: 10vh;
    text-align: center;
}

.product > .title, .product > .price {
	text-align: center;
	font-size: 4vh;
	width: 100%;
	line-height: .8vh;
}

.product {
	flex: 0 18vw;
	max-height: 33vh
}

.main-header{
max-height:13vh;
	border-bottom: #ccc solid 3vh;
}

.total_label{
	font-size:8vh;
	color:#0e0e0e;;
	line-height: 1;
	vertical-align: middle;
	padding-right:5vw;
	width:30vw;
	max-width:30vw;
}

.section_title{
	font-family:fantasy;
	font-size:6vh;
	line-height:10vh;
	color:lightgrey;
	background-color: slategray;
	padding-left:2vw;
}

.total_amount{
	font-size:8vh;
	color:#0e0e0e;;
	line-height: 1;
	vertical-align: middle;
	padding-right:2vw;
	width:30vw;
	max-width:30vw;
}

#inventory_title, #order_title {
	max-height: 10vh;
	min-height: 10vh;
	align-items: center;
}

.pay_section {
	order: 0;
	flex: initial;
	flex-wrap: wrap;
	display: flex;
	min-height:16vh;
	max-height:16vh;
	overflow-y:scroll;
	overscroll-behavior-y: contain;
	justify-content: flex-start;
	align-items:center;
	padding-right: 1vw;
	padding-left:  1vw;
	background-color: transparent;
	border-top:2vh lightgray solid;
	
}
.pay_button{
	max-height:10vh;
}

.pay{
	width:100%;
	height:10vh;
	font-size: 6vh;
}

.dollar {
	flex: 0 26vw;
}

.coin {
	flex: 0 12vw;
}

}



.myButton {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}




/************************************************
/**********         MODAL STYLES       **********
/************************************************

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}



/* Payment section */

.coin, .dollar {
	display: flex;
    flex-direction: column;
	border-radius: 10%;
	background-color: #ffffff;
	margin: .5vw;
	max-height: 18vh;
}

.dollar > .image_line {
	height: 13vh;
	max-height: 13vh;
	text-align: center;
}

.coin > .image_line {
	height: 12vh;
	max-height: 12vh;
	text-align: center;
}



.coin > .title, .dollar > .title {
	text-align: center;
	font-size: 2vh;
	width:100%;
	line-height: 2.5vh;
	margin-top:.5vh;
}

.coin > img, .coin > .image_line > img, .dollar > img, .dollar > .image_line > img  {
	max-height: 100%;
	margin: 0 auto;
	justify-self: center;
} 

button.new {
    background-color: #5cb85c;
}

button.refund {
    background-color: orange;
}

.disable{
	pointer-events: none;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%), blur(20%);
	background-color: #ccc;
}

/* 
.inv_column{
	max-height:30vh;
}

.order_column{
	max-height::30vh;
}

.pay_section{
	max-height:20vh;
}

.main-footer{
	max-height:5vh;
}

.section_title{
	max-height:5vh;
}

.inventory_list_section{
	max-height:30vh;
}

.order_list_section{
	max-height:25vh;
} */

/******************************************************
MODAL CSS
*******************************************************/
.modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
    }
    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    .close-button:hover {
        background-color: darkgray;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }
	