.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 95vh;
}


.inv_column{
	max-height: 45vh;
    min-height: 45vh;
}

.order_column{
	max-height: 30vh;
	min-height: 30vh;
}

.pay_section{
	max-height:20vh;
	min-height:20vh;
}

.main-footer{
	max-height:5vh;
	min-height:5vh;
}

.section_title {
    font-family: fantasy;
    font-size: 3vh;
    max-height: 5vh;
    min-height: 5vh;
    line-height: 1.5em;
    color: #707070;
    background-color: #DCE2EE;
    padding-left: 2vw;
}

.inventory_list_section {
    order: -5;
    /* flex: 0 0 100%; */
    flex-wrap: wrap;
    display: flex;
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    justify-content: flex-start;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: rgba(245,247,251,1);
}

.order_list_section {
    order: -3;
    flex: 1 0 100%;
    flex-wrap: wrap;
    display: flex;
    min-height: 25vh;
    max-height: 25vh;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    justify-content: left;
    padding-right: 1vw;
    padding-left: 1vw;
    background-color: rgba(245,247,251,1);
}

.product, .coin, .dollar {
    display: flex;
    flex-direction: column;
    flex: 0 30vw;
    border-radius: 10%;
    background-color: #ffffff;
    margin: .5vh;
    max-height: 18vh;
}

#inventory_title {
    order: -6;
    flex: 1 0 100%;
}

#order_title {
    order: -4;
    flex: 1 0 100%;
}

.total_label {
    font-size: 1.4em;
    color: white;
    line-height: 1;
    padding-left: 5vw;
    width: 40vw;
    max-width: 40vw;
}

.total_amount {
    font-size: 1.4em;
    color: white;
    line-height: 1;
    padding-right: 2vw;
    width: 25vw;
    max-width: 25vw;
}

.banner, .main-footer {
    text-align: center;
    font-size: .8em;
    line-height: 1;
}


.disable{
	pointer-events: none;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%), blur(20%);
	background-color: #ccc;
}